.m-button{
    height: 36px;
    border-radius: 4px;
    min-width: 80px;
    border: none;
    padding: 0 16px;
    color: #fff;
    background-color: #004999;
    font-family: notosans-simidbold;
}
.m-button1{
    height: 36px;
    border-radius: 4px;
    min-width: 80px;
    border: none;
    padding: 0 16px;
    color: #fff;
    background-color:red;
    font-family: notosans-simidbold;
}
.m-button:hover:not([disabled]){
    background-color: #004999;
    cursor: pointer;
}
/* .m-button:focus{
    background-color: #409330;
} */
.m-button:disabled{
    opacity:0.56;
}
.m-btn{
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 0.59);
    background-color: #fff;
    padding: 0 16px;
    color: #000;
    font-family: notosans-simidbold;
    width: 100%;
}
.m-btn:hover{
    cursor: pointer;
    outline: 1px solid #e2e2e2 !important;
    background-color: #E0E0E0 !important;
}
/* .m-btn:focus{
    cursor: pointer;
    background-color: #BDBDBD;
} */

.btn-icon{
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    /* background-position: ;  */
}

