.input{
    height: 36px;
    margin: 8px 0;
    padding: 0 12px;
    border-radius: 4px;
    outline: unset;
    border: 1px solid #ccc;
}
.input:hover{
    outline: 1px solid #e2e2e2;
}
.input:focus{
    border: 1px solid #004999;
}
.input--error{
    border:1px solid #E61D1D;
}

.m-input-form{
    padding-left: 12px;
    padding-right: 8px;
    border-radius: 4px;
    height: 36px;
    border: 1px solid #babec5;  
    box-sizing: border-box;
    outline: none;
    width: -webkit-fill-available;
}
.m-border-input{
    border: none;
    padding: 0 12px;
    height: 36px;
    box-sizing: border-box;
}
.m-border-input:hover{
    outline: 1px solid #e2e2e2;

}
.m-border-input:focus{
    outline: 1px solid #004999;
}

.m-icon-require {
    color: red;
    align-self: center;
}
.m-input-form:hover {
    outline: 1px solid #e2e2e2;
}

.m-input-form:focus {
    outline: 1px solid #004999;
}
.m-input-form-error{
    outline: 1px solid #E61D1D;
}
.m-input-form-40 {
    width: 40%!important;
}

.m-input-form-60 {
    width: 60%!important;
}
m-input-form-33{
    width: 33,33%!important;
}

.m-input-form-100 {
    width: 100%!important;
}
input[type=radio] {
    width: 16px;
    height: 16px;
    accent-color: #004999 ;
}
input[type=checkbox]{
    accent-color: #004999 ;
    width: 20px;
    height: 20px;
}
.input--error{
    border:1px solid #E61D1D;
}
/* input.required.m-input-form-error+div.err-message{
    display: block;
} */

