.m-popup{
    /* fixed nghĩa là nó không phục thuộc vào thằng nào cả */
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.596) ;
    z-index: 3;

}
.m-popup .m-popup-content{
    
    position: absolute;
    /* width: 900px; */
    max-width: calc(100% - 64px);
    /* min-height: 600px; */
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    min-width: 800px;
    
}
.m-popup-content .popup-header{
    margin: 24px;
    display: flex;
    justify-content: space-between;
}
.m-popup-content .popup-header .popup-title{
    display: flex;
    position: relative;
    width: 100%;
} 
.popup-title .popup-title-name{
    font-size: 24px;
    color: #111;
    font-family: notosans-bold;
    
}

.m-input-checkbox-label{
    margin-left: 8px;
    align-self: center;
}

.m-popup-content .popup-header .popup-close{
    display: flex;
}
.m-popup-checkbox{
    padding-left:12px;
    align-self: center;

}
.m-input-checkbox-popup{
    width: 18px;
    height: 18px;
}
.m-popup-content .popup-content{
    padding: 0 24px 24px 24px;
}
#m-form-employee .m-form-conten-2-col{
    display: flex;
    justify-content: space-between;
    
}
.m-col-1{
    width: 50%;
    padding-right: 16px;
}
.m-col-2{
    width: 50%;
}
.width-50-50{
    width: 50%;
}
.m-form-content-3-col{
    display: flex;
    width: 70%;
}
.m-form-content-4-col{
    display: flex;
    width: 100%;
}
.m-input-title{
    width: fit-content;
    font-family:notosans-simidbold ;

}
.m-input-title-require{
    font-family:notosans-simidbold;
}

.m-form-footer{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m-input-form-40{
    position: relative;
}
.err-message{
    font-size: 12px;
    padding-top: 8px;
    color:#E61D1D;
    position: absolute;
    /* display: none; */

}
.m-form-part-submit {
    display: flex;
}
/* Class đặt cho mục đích sử dụng v-bind class, vì khi đặt tên class có dấu - thì bên vue js sẽ báo lỗi */
.displayBlock{
    display: block;
}
.m-form-part-save{
    margin-right: 8px;
}
.m-radio-group{
    margin-top: 12px;
}
.m-con-radio{
    padding-right: 10px;
}