.m-search-area{
    display: flex;
    align-items: center;
    align-self: end;
    margin: 16px;
    width: fit-content;
}

.m-search-area-content{
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 36px;
    border: 1px solid #EBEBEB;
    outline: none;
}
.m-btn-refresh{
    margin-left: 8px;
}
.m-btn-refresh:hover{
    cursor: pointer;
}
/* Khi nhập liệu thì viền thẻ input đổi màu */
.m-search-area-content:focus-within{
    border: 1px solid #004999;
}
.m-border-input-search:focus-within{
    background-color: #fff;
}

.m-search-area-content:hover,
.m-border-input-search:hover{
    border: 1px solid #E6E6E6;
    background-color: #F6F6F6;
}
.m-search-area-content::placeholder{
    color: #bbb;
    font-size: 12px;
}
.m-border-input-search{
    padding: 0 0 0 12px;
    height: 34px;
    border: none !important;
    outline: none;
    background-color: none;
}
.m-icon-search{
    margin:0 8px;
    align-items: center;
    cursor: pointer;
}