
.wrap-table {
    overflow: auto;
    border-radius: 4px;
    height: calc( 100vh - 56px - 56px - 168px);
    width: auto;

}
/* .m-table{
    border-spacing: unset;
} */
.m-table, .m-table td, .m-table th {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-collapse: collapse;
}
.m-table tr {
    height: 48px;
}
.m-table tr th {
    font-family: 'notosans-bold';
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 3;
}

.m-table tr td,
.m-table tr th {
    padding-left: 16px;
    padding-right: 16px;
    z-index: auto;
}

.m-table tbody tr button {
    color: #0075C0;
    font-weight: 700px;
    background: none;
    border: none;
    cursor: pointer;
}

.m-table tbody tr:hover td{
    background-color: #F8F8F8;
}
.m-table tbody tr:focus-within td{
    background-color: #F8F8F8;
}
.m-table .text-align-left {
    text-align: left;
}
z
.m-table .text-align-right {
    text-align: right;
}

.m-table .text-align-center {
    text-align: center;
}

.m-table thead th:last-child,
.m-table tbody td:last-child {
    border-right: none !important;
}

.show-contexMenu {
    z-index: 1;
}

/* CSS cho bảng đơn vị trong dropdown đơn vị */
/* .m-table-department th{
} */
.m-menu-table {
    border-collapse: collapse;
    height: 40px;
    width: 100%;

}
.m-menu-table tr{
    border: none !important;
} 

.m-combo-menu-content {
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px 1px;
}

.m-menu-items-tr {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 36px;
    /* line-height: 32px; */
    white-space: nowrap;
}

.m-menu-items-tr:hover {
    color: #004999;
    background-color: #ebedf0;
}
.checked{
    background-color: #004999;
}
.m-table tr th {
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
    z-index: 1;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(230, 229, 245);
    
}
.m-table thead{
    border: 1px solid #ccc;
}