/* @import url(./components/button.css); */
@import url(./components/input.css);
@import url(./components/icon.css);
/* @import url(./components/table.css); */
/* @import url(./components/paging.css); */
@import url(./components/dialog.css);
@import url(./components/search.css);
/* @import url(./components/popup.css); */
@import url(./components/dropdown.css);
@import url(./components/loading.css);
@font-face {
    font-family:notosans-bold ;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}
@font-face {
    font-family:notosans-italic ;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}
@font-face {
    font-family:notosans-regular ;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
    font-family:notosans-simidbold ;
    src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}
.container{
    display: flex;
    flex-wrap: wrap;

}

.main-container{
    display: flex;
    width: 100%;
}
body{
    margin: 0;
    font-family:notosans-regular;
    font-size: 14px;
    overflow: hidden;
}
*{
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}

.m-pr-6 {
    padding-right: 6px;
  }
  
.m-pb-12 {
    padding-bottom: 12px;
}
   
.m-ml-8 {
    margin-left: 8px;
}
.m-mt-8{
    margin-top: 8px;
}
.m-ml-16{
    margin-left: 16px;
}
.m-mr-8{
    margin-right: 8px;
}
.m-mr-24{
    margin-right: 24px;
}
.m-mb-8{
    margin-bottom: 8px;
}
.m-mb-24{
    margin-bottom: 24px;
}
.m-mr-12{
    margin-right: 12px;
}
.cl-white{
    color: #fff;
}
.display-f{
   display: flex; 
}
.display-b{
    display: block;
}
.display-none{
    display: none;
}
.align-seft-center{
    align-self: center;
}
.position-relative{
    position: relative;
}
.child-multi-choices{
    text-align: left;
}

